.header {
	background: linear-gradient(209deg, #4287b3 -17.38%, #133f6b 78.4%), #276195;
	padding: 15px 0;


	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.menu {

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 20px;
	}

	&__item {}

	&__link {
		position: relative;
		display: inline-block;
		font-size: 24px;
		color: #fff;
		transition: all .5s ease-in-out;

	}
}

.menu__link::after {
	content: '';
	width: 50%;
	height: 2px;
	background-color: #c8d1f6;
	display: block;
	position: absolute;
	bottom: -7px;
	transition: all .5s;
	left: 0%;
	transform: translateX(0%);
	opacity: 0;
	
}



.menu__link.menu__link--active {
	color: #c8d1f6;
	font-weight: 600;
	font-size: 24px;

}

.menu__link.menu__link--active::after,
.menu__link:hover::after {
	opacity: 1;
}

.menu__link:hover::after {
	width: 50%;
	left: 50%;
	transform: translateX(0%);
}

@media (max-width: 991.98px) {
	.menu {
		display: none;
	}
}