.main {
	font-size: 40px;
	font-weight: 400;
	background: linear-gradient(209deg, #4287b3 -17.38%, #133f6b 78.4%), #276195;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;


}